*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}

header {
    background-color: rgb(178, 222, 240);
}
header > h1 {
    font-size: 3em;
    font-weight: normal;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p{
    text-align: center;
    font-size: 1.5em;
    color: darkblue;
    line-height: 1.75em;
    padding: 0px 0px 30px 0px;
}

nav {
    background-color: aliceblue;
    padding: 20px;
}
a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-size: 1.3em;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 15px;
    
}

a:hover{
    color:  rgb(94, 94, 252);
    
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.603);*/
}
h1{
    font-size: 2em;
    color: darkblue;
}

h2{
    font-size: 1.5em;
    color: rgb(2, 2, 31);
    text-indent: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.75em;
}

footer {
    background-color: rgb(178, 222, 240);
    color: darkblue;
    font-weight: 540;
    text-align: center;
    min-height: 50px;
    font-size: 1em;
    padding: 50px;
}


