*{
    font-family: arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    
    
}

header {
    background-color: rgb(178, 222, 240);
}
header > h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px 20px 15px 600px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > img {
    margin: 20px 20px 15px 600px;
}

nav {
    background-color: aliceblue;
    padding: 10px;
}

nav > a {
    color: darkblue;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}

a:hover{
    background-color: bisque;
    color: rgb(10, 10, 78);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.603);*/
}
h1{
    font-size: 2em;
    color: darkblue;

}
img.lado{
    float: auto;
    
}

h2{
    font-size: 1.5em;
    color: rgb(2, 2, 31);
    text-indent: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.75em;
}

footer {
    background-color: rgb(178, 222, 240);
    color: darkblue;
    text-align: center;
    min-height: 50px;
    font-size: 1em;
    padding: 50px;
}


